<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
<listeners>
<listener class-name="utils.MyTestNGListener"></listener>
</listeners>
  <test thread-count="5" name="Test">
    <classes>
      <class name="smoke.TC_101"/>
      <class name="smoke.TC_102"/>
      <class name="smoke.TC_103"/>
      <class name="smoke.TC_104"/>
      <class name="smoke.TC_119"/>
      <class name="smoke.TC_120"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
